<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {block name="title"}
    <title>gitblog-home</title>
    <link rel="stylesheet/less" href="{$__STATIC__}/css/style.less">
    <script src="{$__STATIC__}/js/less-1.7.0.js"></script>
    <script src="{$__STATIC__}/js/jquery-1.8.3.min.js"></script>
    <script src="{$__STATIC__}/js/script.js"></script>
    {/block}
    {block name="extensions"}
    {/block}
</head>
<body>
    {block name="body"}
    Default Body
    {/block}
</body>
</html>